body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #313131, #1a1a1a);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 75px;
  }
  
  .tab-container {
    margin: 100px 20px;
  }
  
  .tab-title {
    font-size: 1.5rem;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th, .custom-table td {
    padding: 10px;
    border: none;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-field {
    background: #313131;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    min-width: 300px;
    
  }
  
  .checkbox-label {
    font-size: 18px;
    display: block;
    margin: 20px 0;
  }
  
  .modal-actions {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button, .submit-button, .confirm-button {
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    background: #5f3333;
    color: white;
    border: none;
    border-radius: 8px;
  }
  
  .submit-button, .confirm-button {
    background: #34495e;
    color: white;
    border: none;
    border-radius: 8px;
  }





  /* Tabs container styling */
  
  .tab-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
  }
  
  /* Table styling */
  .table-wrapper {
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #34495e;
    color: white;
    text-transform: uppercase;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #1a242e;
    color: white;
  }

  .custom-table tr:nth-child(odd) {
    background-color: #ecf0f1;
    color: black;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .tab-title {
      font-size: 20px;
    }
  
    .custom-table th, .custom-table td {
      padding: 8px 10px;
    }
  }

  /* Sticky signup button */
.sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 24px;
    background: #34495e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
    font-size: 18px;
  }
  
  .sticky-button:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 600px) {
    .sticky-button {
      padding: 10px 20px;
      bottom: 15px;
      right: 15px;
    }
  }

  .checkbox-input-modal {
    margin-right: 10px;
  }

  /* Error Message */
  .error-message {
    color: red;
  }

  @media (max-width: 600px) {
    .modal-container {
        margin: 20px;
    }

    .tab-container {
      margin: 100px 20px;
    }
  }

  /* lang-switcher-wrapper */
  .lang-switcher-wrapper-span, .exit-icon-wrapper {
    position: fixed;
    margin: 0 !important;
    bottom: 20px;
    left: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .exit-icon-wrapper {
    bottom: 70px;
  }

  .exit-icon-wrapper img {
    background: white;
    border-radius: 50%;
  }

  /* Password container */
  .password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .password-container input[type="password"] {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    text-align: center;
    outline: none;
    width: 300px;
    margin-bottom: 15px;
  }
  
  .password-container input[type="password"]::placeholder {
    text-align: center;
    color: #999;
  }
  
  .password-container button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #34495e;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 300px;
  }
  
  .password-container button:hover {
    background-color: #34495e;
  }

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 0;
    border: none;
    border-radius: 50%;
  }

  .delete-button:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  
  /* Butoane pentru alegerea rolului */
  .role-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .role-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #34495e;
    background: white;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
  }
  
  .role-buttons button.active {
    background: #34495e;
    color: white;
  }
  
  .role-buttons button:hover {
    background: #34495e;
    color: white;
  }

  .substitute-playet-row {
    background: rgba(255, 166, 0, 0.514) !important;
  }
  